<h2>Create new photo</h2>
<form action="/photos" method="post">

  <label>Title:</label><br>
  <input type="text" name="title">
  <br></br>
  <label>Caption:</label><br>
  <input type="text" name="caption">
  <br></br>
  <label>URL:</label><br>
  <input type="text" name="image_url">
  <br></br>

  <input type="submit" value="submit">
</form>
